<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/final.css') }}">

    <title>{% block title %}My Site{% endblock %}</title>
</head>

<body>

<header>
  <ul class="barItem">
    {% if user %}
    {% if user['role'] == 'teacher' %}
        <li><a href="{{ url_for('all_acount', user_id=user['account_id']) }}">All Accounts</a></li>
        <li><a href="{{ url_for('test_taken', user_id=user['account_id']) }}">Test Taken</a></li>
        <li><a href="{{ url_for('test_create', user_id=user['account_id']) }}">Test Create</a></li>
        <li><a href="{{ url_for('add_question', user_id=user['account_id']) }}">Add Question</a></li>
    {% endif %}
    <li><a href="{{ url_for('test_page', user_id=user['account_id']) }}">Test Page</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
  </ul>
</header>

<main>
{% block content %}
{% endblock %}
</main>

<footer class="footer">
  <h1 class="footer__logo">da footer!</h1>
</footer>

</body>
</html>


