{%extends"base.html"%}


{% block title %}test page{% endblock %}
{%block content%}
<h1>test page</h1>
<table class="table1">
    <thead>
        <tr>
            <th>test ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for test in tests %}
        <tr>
            <td>{{ test.test_id }}</td>
            <td>{{ test.title }}</td>
            <td>{{ test.test_disc }}</td>
            <td>{{ test.created_by }}</td>
            <td>{{ test.created_at }}</td>
            <td>
                {% if user.role == 'teacher' %}
                    <a href="{{url_for('add_question', user_id=user.account_id, test_id=test.test_id) }}">Add Questions</a>
                {% endif %}

                {% if user.role == 'student' and test.published %}
                    <a href="{{ url_for('take_test', student_id=user.account_id, test_id=test.test_id) }}">Take Test</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%} 